{
  "extends": ["next", "next/core-web-vitals"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@/*", "./src/*"],
          ["@assets/*", "./src/public/assets/*"]
        ],
        "extensions": [".ts", ".js", ".json"]
      }
    }
  }
}
